
html, body, main, section, header, div, article, aside, figure, figcaption, image, iframe, h1, h2, h3, h4, h5, h6, p, table {
  margin: 0;
  padding: 0;
}
:root {
  --gray: #272727;
  --white: #e9e9e9;
  --accent: #47B5FF;
  --reg: all .3s ease-in-out;
  --font: 'Fira Sans', sans-serif;
  font-size: 62.5%;
}
::selection {
  color: var(--dark);
  background-color: var(--accent);
}
body {
  color: var(--white);
  font-size: 2rem;
  width: 98vw;
  margin: auto;
  line-height: 1.3;
  font-weight: 500;
  font-family: var(--font);
  padding: 2rem 0;
}
.main-nav, h1, h2, h3, h4, h5, h6, .button {
  font-family: 'Lobster', cursive;
}
.main-photo{
  position: relative;
}
.photo-text{
position: absolute;
left: 18%;
right: 0;
top: 80%;
font-family: 'Pacifico';
font-size: 3rem;
}
p {
  margin-bottom: 1.5em;
}
body {
  background: var(--gray);
}
.main-nav {
  background: var(--gray);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.flag {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flag-image {
  
  height: 60px;
}
.flag h1 {
  padding-top: 1.2rem;
  padding-left: 1.2rem;
}
a:link {
  color: var(--white);
  text-decoration: none;
}
a:visited {
  color: var(--white);
}
a:hover {
  color: var(--accent);
}
a:active, a.active {
  color: var(--accent);
  text-decoration: underline;
}
main img {
  width: 100%;
  height: auto;
}
header {
  margin: 3rem auto;
}
section {
  display: grid;
  grid-gap: 3.2rem;
  margin: 3rem auto;
}
section.first {
  grid-template-columns: 1fr;
}
section.second {
  grid-template-columns: 1fr;
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h3 {
  color: var(--accent);
  align-self: flex-start;
}
.out {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.in {
  max-width: 100%;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  cursor: pointer;
  color: var(--gray);
  background-color: var(--accent);
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.5rem .5rem 3.5rem;
  transition: var(--reg);
}
.button:hover {
  background-color: var(--dk-acc);
}
footer {
  background: var(--dark);
  padding: 0;
  display: inline-flex;
  justify-content: center;
  font-size: 1.4rem;
}
@media screen and (min-width: 550px) {
  body {width: 98vw;}
}
@media screen and (min-width: 768px) {
  body {width: 86vw;}
}
@media screen and (min-width: 990px) {
  body {width: 84vw;}
  .main-nav {flex-direction: row; justify-content: space-between;}
  section.first {grid-template-columns: 1fr 1fr;}
  section.second {grid-template-columns: 1fr 1fr;}
  .out {order: inherit;}
}
@media screen and (min-width: 1280px) {
  body {width: 80vw;}
}
@media screen and (min-width: 1440px) {
  body {width: 78vw;}
  section.first {grid-template-columns: 7fr 3.5fr;}
  section.second {grid-template-columns: 3.5fr 7fr;}
}
